@media all and (max-width: 768px) {
    .bloc_page {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: auto;
    }

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: contain;
    position: relative;
  }

  .fa-arrow-left {
      position: absolute;
      top: 3vw;
      left: 5vw;
      font-size: 3.5vw;
      font-weight: normal;
  }

  .first {
      padding: 2vw;
  }

  .first img {
      width: 32vw;
  }

  nav img {
      width: 100%;
      object-fit: cover;
      z-index: 1;
  }

/* article */

.fa-heart {
    position: absolute;
    top: 6vw;
    right: 8vw;
    font-size: 2em;
}

article {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 7;
    top: -13vw;
    border-radius: 35px 35px 0 0;
    background-color: #dbdbdb;
}

article h1 {
    font-family: 'Shrikhand';
    font-size: 1.9em;
    font-weight: normal;
    display: flex;
    direction: row;
    padding-left: 5vw;
    margin-bottom: 0;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section div {
    width: 90%;
    background-color: rosybrown;
}

/* Entrees */
h2 {
    width: 90%;
    font-weight: normal;
    font-size: 3.5vw;
    border-bottom: 2px solid #99E2D0;

}


/* bouton */

aside {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vw;
} 

aside a {
    text-decoration: none;
}

button:hover {
    cursor: pointer;
}

  button {
    border-radius: 30px;
    border: 1px solid grey;
    width: 40vw;
    height: 4vw;
    font-size: 1em;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 3vw;
  }
  
  .btn {
    background: linear-gradient(to bottom right,#FF79DA,#9356DC);
    box-shadow: 0px 7px 7px -5px grey;
  }

/* Footer */
.bas {
    background-color: black;
    padding: 1vw;
    position: relative;
  }
  
  .bas h2 {
    font-family: 'Shrikhand';
    color: white;
    font-size: 1.2em;
    padding-left: 5.3vw;
    font-weight: normal;
  }
  
  .bas ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1vw;
    line-height: 1.6em;
  }
  
  .fa-utensils, .fa-hands-helping {
    color: white;
    padding-left: 4vw;
    font-size: 0.8em;
    width: 2%;
  }
  
  footer ul li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding-left: 4vw;
  }

}
