@import "../utils/variables";
@import "../utils/mixins";
@import "../utils/Keyframes";

// Accueil Ohmyfood
@media all and (min-width: 1026px) {
    @font-face {
        font-family: 'robotolight';
        src: url('/Police/roboto/roboto-light-webfont.woff') format('woff2'),
             url('/Police/roboto/roboto-light-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('/Police/shrikhand/shrikhand-regular-webfont.woff') format('woff2'),
         url('/Police/shrikhand/shrikhand-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

    .bloc_page {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
    }


// Loader
    .loader {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
        background: fixed;
        background-attachment: fixed;
        position: absolute;
        position: fixed;
        animation: disapear 3s linear forwards;
        background-color: white;
    }

    .circleRight {
        // Creation loader
        border: 10px solid white;
        border-right: 10px solid $violet;
        border-left: 10px solid $pink;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        animation: spiner 3s linear infinite;
        z-index: 6;
        margin: auto;
        position: absolute;
    }

    .circleLeft {
        border: 10px solid white;
        border-top: 10px solid $vert;
        border-bottom: 10px solid $vert;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        animation: spin 3s linear infinite;
        z-index: 4;
        margin: auto;
    }

    .chargement {
        position: absolute;
        font-weight: bold;
        font-size: 1.2em;
        color: #40b698;
        z-index: 2;
        width: 100%;
    }

// Header
    header {
        display: flex;
        justify-content: space-between;
        width: 100%;

            form {
                display: flex;
                justify-content: flex-end;
                background: linear-gradient(170deg, $pink,$violet);
                width: 100%;
                z-index: 1;
            }

                form p { 
                    text-align: center;
                }

                    form input {
                        border: none;
                        font-size: 1.2vw;
                        font-weight: bold;
                        background-color: white;
                    }

    }

    .tit {
        width: 16%;
        padding: 10px;
        background-color: transparent;
        position: absolute;
    }

    .recherche {
        width: 60%;
    }

    .fa-map-marker-alt {
        padding-right: 2vw;
        font-size: 2.3vw;
    }

    nav {
        width: 100%;
        border-top: 0px solid grey;
        background-color: #e6e6e6;
    }

// Presentation
    .presentation {
        background-color: #F2F2F2;
        @include flexbox;
        flex-direction: column;
        flex-wrap: wrap;
        padding-bottom: 5vw;
    }

    .presentation h1 {
        width: 100%;
        font-size: 2vw;
        text-align: center;
        margin-bottom: 0;
    }

    .presentation h2 {
        font-weight: normal;
        font-size: 1.5vw;
        width: 40%;
        text-align: center;
    }

    .btn {
        @include flexbox;
        margin-top: 1vw;
        padding: 1.2vw;
        border-radius: 60px;
        border: none;
        background: linear-gradient(170deg, $pink,$violet);
        color: $blanc;
        font-size: 1.2vw;
        box-shadow: 0 4px 4px #C0C0C0;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        filter: brightness(1);

            &:hover {
                transform: scale(1.15);
                filter: brightness(1.25);
                box-shadow: 0 7px 7px rgb(78, 78, 78);
            }
    }

// Fonctionnement
    .choix { display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1.5vw;

            &.choix h2 {
                width: 35%;
                font-size: 2vw;
                margin-bottom: 4vw;
                text-align: center;
                border-bottom: 1px solid $violet;
                padding-bottom: 1vw;
                letter-spacing: 1px;
                text-decoration-color: $violet;
            }
    }

    .choix__rond {
        @include flexbox;
        background-color: #F2F2F2;
        box-shadow: 0 4px 4px #C0C0C0;
        border-radius: 25px;
        padding: 0.5vw;
        margin-bottom: 4vw;
        width: 30vw;
        position: relative;
        transition-delay: 150ms;
        transition: transform 450ms, background-color 300ms 150ms;
    }

    .choix__rond:hover {
        background-color: #9356dc26;
    }

    .choix__rond h3 {
        font-size: 1.5vw;
        padding-left: 3.5vw;
    }

    .choix__nombre {
        position: absolute;
        @include flexbox;
        left: -1.8vw;
        color: $blanc;
        background-color: $violet;
        border-radius: 40px;
        width: 2.5vw;
        height: 2.5vw;
    }

    .choix__nombre p {
        font-size: 1.5vw;
    }

    .fa-mobile-alt, .fa-list-ul, .fa-store { 
        font-size: 1.9vw;
        color: grey;
    }

// Restaurant
    .resto {
        background: #F2F2F2;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        border-radius: 50px 50px 0 0;
        height: auto;
        padding-bottom: 5vw;
        position: relative;
    }

    .resto h2 {
        width: 30%;
        font-size: 2vw;
        padding: 1vw;
        text-align: center;
        border-bottom: 1px solid $vert;
        padding-bottom: 1vw;
        letter-spacing: 1px;
        text-decoration-color: $vert;
    }

    .fonc {
        @include flexbox;
        width: 100%;
    }

    .resto a {
        text-decoration: none;
        color: black;
    }

    .resto__cartes {
        background-color: $blanc;
        border-radius: $bordRond;
        box-shadow: 0 4px 4px #C0C0C0;
        object-fit: contain;
        position: relative;
        margin: 1.5vw;
        margin-bottom: 2vw;
        width: 30vw;
        height: 25.5vw;
        
        .resto__legende {
            padding-left: 2vw;
        }
            .resto__legende h3, h4 {
                line-height: 1vw;
            }

                .resto__legende h3 {
                    font-size: 1.7vw;
                }
            
                    .resto__legende h4 {
                        font-size: 1.4vw;
                        font-weight: normal;
                    }
    }

    .resto__cartes p {
        position: absolute;
        top: 1vw;
        right: 3vw;
        font-size: 1.6vw;
        color: green;
        background-color: #99E2D0;
        padding: 0.5vw;
        border-radius: 2px;
        width: 22%;
        text-align: center;
    }

    .emptyheart {
        position: relative;
        font-size: 2.5vw;
        right: -23vw;
        top: -5vw;
        bottom: 2vw;
        width: 10%;
        height: auto;
    }

    .emptyheart:hover {
        transition-duration: 2s;
        background: linear-gradient($violet, $pink);
        font-weight: bold;
        background-position: 0px;
        @include colorback;
        cursor: pointer;
    }

    .resto__cartes img {
        width: 30vw;
        height: 18vw;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
    }

// Footer
    footer ul li a {
        display: inline-block;
        @include deconone;
        color: $blanc;
        padding-left: 3.7vw;
        font-size: 1.8vw;
    }

    .bas {
        background-color: black;
        padding: 1vw;
        position: relative;
    }
    
    .bas h2 {
        font-family: 'shrikhand';
        color: $blanc;
        font-size: 3vw;
        padding-left: 5.3vw;
        font-weight: normal;
    }
    
    .bas ul {
        list-style-type: none;
        padding-left: 0;
        margin-left: 1vw;
        line-height: 4vw;
    }
    
    .fa-utensils, .fa-hands-helping {
        color: $blanc;
        padding-left: 4vw;
        font-size: 1.8vw;
        width: 2%;
    }

    }

    // Menus Ohmyfood
    @media all and (min-width: 1026px) {
        @font-face {
            font-family: 'robotolight';
            src: url('/Police/roboto/roboto-light-webfont.woff') format('woff2'),
                url('/Police/roboto/roboto-light-webfont.woff2') format('woff');
            font-weight: normal;
            font-style: normal;
    }

    @font-face {
        font-family: 'shrikhandregular';
        src: url('/Police/shrikhand/shrikhand-regular-webfont.woff') format('woff2'),
            url('/Police/shrikhand/shrikhand-regular-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    .bloc_page {
    font-family: 'Roboto', sans-serif;
    width: 80%;
    margin: auto;
    }

    .titre {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        border-top: 0px solid grey;
        object-fit: contain;
        position: relative;

            .fa-arrow-left {
                position: absolute;
                left: 5vw;
                top: 2.5vw;
                font-size: 2vw;
                color: black;
            }

                .titre_first img {
                    width: 20vw;
                    object-fit: cover;
                }
    }

    .titre_first {
        padding: 1.5vw;
    }

    .titre nav {
        width: 100%;
        height: 40vw;
        border-radius: 40px 40px 0 0;
    }

    .grandimg {
        width: 100%;
        height: 40vw;
        border-radius: 40px 40px 0 0;
    }

    .grandimg1 {
        width: 100%;
        height: 40vw;
        object-fit: cover;
        border-radius: 40px 40px 0 0;
    }

    .conteneur {
        z-index: 3;
        height: 64vw;
        object-fit: contain;
    }

    .carte {
        z-index: 7;
        background-color: #e6e6e6;
        position: relative;
        bottom: 0;
        margin-top: -40px;
    }

    .tigro  {
        display: flex;
        justify-content: center;
        padding-left: 4vw;
        padding-right: 4vw;

            &.tigro h1 {
                font-family: 'Shrikhand';
                font-weight: normal;
                font-size: 4vw;
                width: 80%;
                margin-bottom: 1.6vw;
            }

                &.tigro .fa-heart {
                    display: flex;
                    align-items: center;
                    font-size: 4vw;
                    padding-top: 3.5vw;
                    padding-right: 3vw;
                }
    }

    .emptyheart:hover {
        transition-duration: 2s;
        background: linear-gradient($violet, $pink);
        font-weight: bold;
        background-position: 0px;
        @include colorback;
        cursor: pointer;
    }

    .deux {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .pal {
        width: 95%;
    }

    .menus {
        margin-left: 4vw;
        width: 92%;
        padding-bottom: 2vw;
        padding-top: 0;

            &.menus h2 {
                width: 11%;
                font-size: 2.6vw;
                font-weight: normal;
                border-bottom: 3px solid $vert;
                padding-bottom: 1.2vw;
            } 
    }

    .menus_carte {
        width: 100%;
        height: 12vw;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        position: relative;
        background-color: white;
        border-radius: 30px;
        box-shadow: 0 4px 4px #C0C0C0;
        margin-bottom: 3vw;
        animation: opacite 3s linear forwards 2s;
        z-index: 10;
        overflow: hidden;
    }

    .text {
        margin-left: 20px;
        width: 100%;
        height: 20vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        z-index: 1;

            &.text h3 {
                font-size: 2.4vw;
                margin-bottom: 1vw; 
                padding-top: 4.5vw;
                width: 100%;
                @include elmcache;
            }

                &.text h4 {
                    font-size: 2vw;
                    font-weight: normal;
                    margin-top: 0;
                    width: 100%;
                    @include elmcache;
                }
    }

    .text:hover h4, .text:hover h3 {
        width: 70%;
    }

    .prix {
        width: 10%;
        height: 18vw;
        display: flex;
        align-items: center;
        transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
        transition: width 1s;
        z-index: 4;
        
        &.prix h5 {
            font-size: 2vw;
            padding-top: 4.5vw;
        }
    }

    .coche {
        background-color: #99E2D0;
        position: absolute;
        right: -13vw;
        top: 0;
        margin: 0;
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition-timing-function: cubic-bezier(0,0,1,1);
        transition: width 1s;
        padding-left: 3vw;
        z-index: 7;
    }

    .menus_carte:hover {
    cursor: pointer;
    }

    .menus_carte:hover > .coche {
    width: 20vw;
    }

    .menus_carte:hover > .prix {
    width: 22vw;
    }

    .menus_carte:hover > .coche > .fa-check-circle {
    animation: rotation 1s;
    }

    .fa-check-circle {
    color: white;
    font-weight: bold;
    font-size: 4.3vw;
    }

    // Bouton
    .bouton {
        @include flexbox;
        padding: 4vw;
    }

    .btn2 {
        width: 40%;
        padding: 1.5vw;
        border-radius: 70px;
        border: none;
        background: linear-gradient(170deg, $pink,$violet);
        color: $blanc;
        font-size: 2.6vw;
        cursor: pointer;
        transform: scale(1);
        transition: transform 400ms;
        filter: brightness(1);

            &:hover {
                transform: scale(1.15);
                filter: brightness(1.25);
                box-shadow: 0 7px 7px rgb(78, 78, 78);
            }
    }

    }
