@import "../utils/variables";
@import "../utils/mixins";

// Media tablette accueil
@media all and (min-width: 1026px) {
    @font-face {
        font-family: 'robotolight';
        src: url('/Police/roboto/roboto-light-webfont.woff') format('woff2'),
             url('/Police/roboto/roboto-light-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('/Police/shrikhand/shrikhand-regular-webfont.woff') format('woff2'),
         url('/Police/shrikhand/shrikhand-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bloc_page {
font-family: 'Roboto', sans-serif;
width: 80%;
margin: auto;
}

// Loader
// .loader {
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     @include flexbox;
//     background-color: white;
// }

/* Header */
header {
    display: flex;
    justify-content: space-between;
    width: 100%;

        form {
            display: flex;
            justify-content: flex-end;
            background: linear-gradient(170deg, $pink,$violet);
            width: 100%;
            z-index: 1;
        }

        form p { 
            text-align: center;
        }

        form input {
            border: none;
            font-size: 1.2vw;
            font-weight: bold;
            background-color: white;
        }

}

.tit {
    width: 16%;
    padding: 10px;
    background-color: transparent;
    z-index: 7;
    position: absolute;
}

.recherche {
    width: 60%;
}

.fa-map-marker-alt {
    padding-right: 2vw;
    font-size: 2.3vw;
}

nav {
    width: 100%;
    border-top: 0px solid grey;
    background-color: #e6e6e6;
}

/*Presentation*/
.presentation {
    background-color: #F2F2F2;
    @include flexbox;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 5vw;
}

.presentation h1 {
    width: 100%;
    font-size: 2vw;
    text-align: center;
    margin-bottom: 0;
}

.presentation h2 {
    font-weight: normal;
    font-size: 1.5vw;
    width: 40%;
    text-align: center;
}

.btn {
    @include flexbox;
    margin-top: 1vw;
    padding: 1.2vw;
    border-radius: 60px;
    border: none;
    background: linear-gradient(170deg, $pink,$violet);
    color: $blanc;
    font-size: 1.2vw;
    box-shadow: 0 4px 4px #C0C0C0;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    filter: brightness(1);

        &:hover {
            transform: scale(1.15);
            filter: brightness(1.25);
            box-shadow: 0 7px 7px rgb(78, 78, 78);
        }
}

/*Fonctionnement*/
.choix { display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.5vw;

    &.choix h2 {
        width: 35%;
        font-size: 2vw;
        margin-bottom: 4vw;
        text-align: center;
        border-bottom: 1px solid $violet;
        padding-bottom: 1vw;
        letter-spacing: 1px;
        text-decoration-color: $violet;
    }
}

.choix__rond {
    @include flexbox;
    background-color: #F2F2F2;
    box-shadow: 0 4px 4px #C0C0C0;
    border-radius: 25px;
    padding: 0.5vw;
    margin-bottom: 4vw;
    width: 30vw;
    position: relative;
    transition-delay: 150ms;
    transition: transform 450ms, background-color 300ms 150ms;
}

.choix__rond:hover {
    background-color: #9356dc26;
}

.choix__rond h3 {
    font-size: 1.5vw;
    padding-left: 3.5vw;
}

.choix__nombre {
    position: absolute;
    @include flexbox;
    left: -1.8vw;
    color: $blanc;
    background-color: $violet;
    border-radius: 40px;
    width: 2.5vw;
    height: 2.5vw;
}

.choix__nombre p {
    font-size: 1.5vw;
}

.fa-mobile-alt, .fa-list-ul, .fa-store { 
    font-size: 1.9vw;
    color: grey;
}

/*Restaurants*/
.resto {
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    border-radius: 50px 50px 0 0;
    height: auto;
    padding-bottom: 5vw;
}

.resto h2 {
    width: 30%;
    font-size: 2vw;
    padding: 1vw;
    text-align: center;
    border-bottom: 1px solid $vert;
    padding-bottom: 1vw;
    letter-spacing: 1px;
    text-decoration-color: $vert;
}

.fonc {
    @include flexbox;
    width: 100%;
}

.resto a {
    text-decoration: none;
    color: black;
}

.resto__cartes {
    background-color: $blanc;
    border-radius: 16px 16px 16px 16px;
    box-shadow: 0 4px 4px #C0C0C0;
    object-fit: contain;
    position: relative;
    margin: 1.5vw;
    margin-bottom: 2vw;
    width: 30vw;
    height: 25.5vw;
    
    .resto__legende {
        padding-left: 2vw;
    }
        .resto__legende h3, h4 {
            line-height: 1vw;
        }

            .resto__legende h3 {
                font-size: 1.7vw;
            }
        
                .resto__legende h4 {
                    font-size: 1.4vw;
                    font-weight: normal;
                }
}

.resto__cartes p {
    position: absolute;
    top: 1vw;
    right: 3vw;
    font-size: 1.6vw;
    color: green;
    background-color: #99E2D0;
    padding: 0.5vw;
    border-radius: 2px;
    width: 22%;
    text-align: center;
}

.resto .fa-heart {
    position: absolute;
    font-size: 2.5vw;
    right: 2vw;
    bottom: 2vw;
}

.resto__cartes img {
    width: 30vw;
    height: 18vw;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.emptyheart {
    background-position: 0px 150px;
  }

  .emptyheart:hover {
    transition-duration: 2s;
    background: linear-gradient(170deg,$violet, $pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    background-position: 0px;
  }

// .emptyheart {
//     opacity: 1;
//   }

//   .emptyheart {
//     background-position: 0px 150px;
//   }

//   .emptyheart:hover {
//     transform: translateY(1);
//     transition-duration: 2s;
//     background: linear-gradient($pink,$violet);
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
//     background-position: 0px;
//   }

/* Footer */
footer ul li a {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    color: $blanc;
    padding-left: 3.7vw;
    font-size: 1.8vw;
}

.bas {
    background-color: black;
    padding: 1vw;
    position: relative;
  }
  
  .bas h2 {
    font-family: 'shrikhand';
    color: $blanc;
    font-size: 3vw;
    padding-left: 5.3vw;
    font-weight: normal;
  }
  
  .bas ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 1vw;
    line-height: 4vw;
  }
  
  .fa-utensils, .fa-hands-helping {
    color: $blanc;
    padding-left: 4vw;
    font-size: 1.8vw;
    width: 2%;
  }

}

// Menus
@media all and (min-width: 1026px) {
    @font-face {
        font-family: 'robotolight';
        src: url('/Police/roboto/roboto-light-webfont.woff') format('woff2'),
             url('/Police/roboto/roboto-light-webfont.woff2') format('woff');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'shrikhandregular';
    src: url('/Police/shrikhand/shrikhand-regular-webfont.woff') format('woff2'),
         url('/Police/shrikhand/shrikhand-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

.bloc_page {
font-family: 'Roboto', sans-serif;
width: 80%;
margin: auto;
}

// Menus
.titre {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    border-top: 0px solid grey;
    object-fit: contain;
    position: relative;

    .fa-arrow-left {
        position: absolute;
        left: 5vw;
        top: 2.5vw;
        font-size: 2vw;
        color: black;
    }

    .titre_first img {
        width: 20vw;
        object-fit: cover;
    }
  }

  .titre_first {
      padding: 1.5vw;
  }

  .titre nav {
      width: 100%;
      height: 40vw;
      border-radius: 40px 40px 0 0;
  }

.grandimg {
    width: 100%;
    height: 40vw;
    border-radius: 40px 40px 0 0;
}

.grandimg1 {
    width: 100%;
    height: 40vw;
    object-fit: cover;
    border-radius: 40px 40px 0 0;
}

.conteneur {
    z-index: 3;
    height: 64vw;
    object-fit: contain;
}

.carte {
    z-index: 7;
    background-color: #e6e6e6;
    position: relative;
    bottom: 0;
    margin-top: -40px;
}

.tigro  {
    display: flex;
    justify-content: center;
    padding-left: 4vw;
    padding-right: 4vw;
    border-radius: 15vw;

   &.tigro h1 {
    font-family: 'Shrikhand';
    font-weight: normal;
    font-size: 3.5vw;
    width: 80%;
    margin-bottom: 1.6vw;
   }

    &.tigro .emptyheart {
        display: flex;
        align-items: center;
        font-size: 3.5vw;
        padding-top: 3.5vw;
        padding-right: 3vw;
    }
}

.emptyheart {
    background-position: 0px 150px;
    opacity: 1;
  }

  .emptyheart:hover {
    transition-duration: 2s;
    background: linear-gradient(170deg,$violet, $pink);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: bold;
    background-position: 0px;
  }

//   .emptyheart {
//     background-position: 0px 150px;
//     // opacity: 1;
//   }

//   .emptyheart:hover {
//     transition-duration: 2s;
//     background: linear-gradient($pink,$violet);
//     background-clip: text;
//     -webkit-background-clip: text;
//     color: transparent;
//     font-weight: bold;
//     background-position: 0px;
//   }

.deux {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.pal {
    width: 95%;
}

.menus {
    margin-left: 4vw;
    width: 92%;
    padding-bottom: 2vw;

    &.menus h2 {
        width: 11%;
        font-size: 2.6vw;
        font-weight: normal;
        border-bottom: 3px solid $vert;
        padding-bottom: 1.2vw;
    } 
}

.menus_carte {
    background-color: white;
    width: 100%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3vw;
    height: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    z-index: 1;
    box-shadow: 0 4px 4px #C0C0C0;

    &.menus_carte h3 {
        font-size: 2.2vw;
        margin-bottom: 0;
        margin-top: 2vw;
        padding-left: 2vw;
    }
}

.menus_leg {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 5vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    padding-top: 1vw;

    &.menus_leg h4 {
        width: 100%;
        font-size: 2vw;
        font-weight: normal;
        padding-left: 2vw;
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    &.menus_leg .prix {
        font-size: 4vw;
        height: 40px;
    }

    &.menus_leg h5 {
        margin-top: 0vw;
        font-size: 2vw;
    }
}

// @keyframes opacite {
//     from {
//         opacity: 0;
//     }

//     to {
//         opacity: 1;
//     }
// }

// .menus_carte:nth-child(1) {
//     animation: opacite 2s;
// }

// .menus_carte:nth-child(2) {
//     animation-delay : 2s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(3) {
//     animation-delay : 3s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(4) {
//     animation-delay : 4s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(5) {
//     animation-delay : 5s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(6) {
//     animation-delay : 6s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(7) {
//     animation-delay : 7s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(8) {
//     animation-delay : 7s;
//     animation-name: opacite;
//     @include opacite;
// }

// .menus_carte:nth-child(9) {
//     animation-delay : 8s;
//     animation-name: opacite;
//     @include opacite;
// }

.prix {
    width: 10%;
    transition: width 1s;
    padding-right: 3vw;
    transition-timing-function: cubic-bezier(0.25,0.1,0.25,1);
}

.coche {
        background-color: #99E2D0;
        position: absolute;
        right: -11vw;
        top: 0vw;
        margin: 0;
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        transition-timing-function: cubic-bezier(0,0,1,1);
        transition: width 1s;
        padding-left: 3vw;
}

.menus_carte:hover > .menus_leg {
    cursor: pointer;
}

.menus_carte:hover > .menus_leg > .coche {
    width: 17vw;
}

.menus_carte:hover > .menus_leg > .prix {
   width: 16vw;
}

.menus_carte:hover > .menus_leg > .coche > .fa-check-circle {
    animation: rotation 1s;
}

@keyframes rotation {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.fa-check-circle {
    font-weight: bold;
    color: white;
    font-size: 3.3vw;
}

// Bouton
.bouton {
    @include flexbox;
    padding: 4vw;
}

.btn2 {
    width: 40%;
    padding: 1.5vw;
    border-radius: 70px;
    border: none;
    background: linear-gradient(170deg, $pink,$violet);
    color: $blanc;
    font-size: 2.8vw;
    cursor: pointer;
    transform: scale(1);
    transition: transform 400ms;
    filter: brightness(1);

        &:hover {
            transform: scale(1.15);
            filter: brightness(1.25);
            box-shadow: 0 7px 7px rgb(78, 78, 78);
        }
}

}
